@media screen and (max-width: 1110px) {
    .frame {
        zoom: 80%;
    }
}

@media screen and (max-width: 935px) {
    .frame {
        zoom: 70%;
    }
}

@media screen and (max-width: 860px) {
    .frame {
        zoom: 60%;
    }
}

@media screen and (max-width: 650px) {
    .frame {
        zoom: 50%;
    }
}

@media screen and (max-width: 550px) {
    .frame {
        zoom: 42%;
    }
}

@media screen and (max-width: 450px) {
    .frame {
        zoom: 35%;
    }
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 222, 179, 0.8);
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(78, 48, 103);
}

body {
    font-family: 'Comfortaa', cursive;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    opacity: 0.6;
}

li {
    color: whitesmoke;
    text-align: justify;
}

.nt {
    margin-left: 15px;
    margin-right: 15px;
}

.frame {
    display: block;
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;
    height: min-content;
    min-height: 700px;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;

}

.main {
    width: 802px;
    margin-left: 20px;
}

.page_title {
    font-size: 25px;
    padding-left: 10px;
    padding: 5px;
    color: wheat;
    font-weight: bolder;
}

.section_title {
    font-size: 16px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 25px !important;
    padding: 5px;
    color: wheat;
    font-weight: 750;
}

.more_specifically {
    text-indent: 8px;
}

.important {
    color: red;
}

.quote {
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(245, 245, 245, 0.7);
    border-left: 5px solid wheat;
    border-radius: 5px;
    height: max-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 18px;
    padding-left: 12px;
    font-weight: bolder;
    font-style: italic;
    text-align: justify;
    line-height: 120%;
}

.the {
    margin-top: -25px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: -5px;
}

.small_section_title {
    font-size: 16px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: -5px;
    margin-bottom: -10px;
    padding: 5px;
    color: wheat;
    font-weight: 500;
}

.just_text {
    font-size: 16px;
    padding-left: 10px;
    padding: 5px;
    color: whitesmoke; 
    text-align: justify;
    text-indent: 5px;
}

.just_small_text {
    font-size: 16px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    color: whitesmoke;
    text-align: justify;
    text-indent: 5px;
}

.horyline {
    background-color: wheat;
    min-width: 780px;
    margin-left: 5px;
    margin-right: 5px;
    height: 3px;
    border-radius: 3px;
    margin-top: -10px;
}

.text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#toggle:checked~.text {
    max-height: min-content;
}

#toggle:checked~.what {
    opacity: 0.6;
}

label:hover {
    opacity: 0.6;
}

.what {
    font-size: 16px;
    color: wheat;
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
}

.text {
    text-indent: 6px;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
}

.text ul {
    padding-left: 15px;
    text-align: left;
    margin-left: 0px;
    font-weight: 700;
    line-height: 175%;
}

.text ul ul {
    text-align: left;
    margin-left: 10px;
    font-weight: 550;
    line-height: 150%;
}

.line{
    margin-left: auto;
    margin-right: auto;
    width: 3px;
    border-radius: 5px;
    background-color: whitesmoke;
    height: 215px;
}

.backtoup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 4px solid wheat;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.backtoup img {
    margin: 5px;
}

.backtoup:hover,
.backtoup a:hover {
    opacity: 0.7;
}