@media screen and (min-width: 500px) and (max-width: 600px) {
    .main {
        zoom: 50%;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .main {
        zoom: 60%;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .main {
        zoom: 70%;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .main {
        zoom: 80%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1029px) {
    .main {
        zoom: 90%;
    }
}

@media screen and (min-width: 1029px) and (max-width: 1285px) {
    .main {
        zoom: normal;
    }
}

@media screen and (min-width: 1285px) and (max-width: 1680px) {
    .main {
        zoom: 115%;
    }
}

@media screen and (min-width: 1680px) and (max-width: 7685px) {
    .main {
        zoom: 125%;
    }
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 222, 179, 0.8);
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(78, 48, 103);
}

body {
    font-family: 'Comfortaa', cursive;
}

.main {
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    height: 500px;
    backdrop-filter: blur(4px);
    position: relative;

}

a {
    text-decoration: none;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;
    opacity: 0.6;
}

.title {
    text-indent: 8px;
    color: wheat;
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
}


.specificalities {
    text-indent: 8px;
    color: whitesmoke;
    text-align: justify;
    margin-left: 20px;
    margin-right: 15px;
    font-size: 16px;
    width: 660px;
}

.mail {
    font-size: 16px;
    color: wheat;
}

.mail:hover {
    opacity: 0.6;
}

.thanks {
    position: absolute;
    bottom: 4px;
    left: 28px;
    color: wheat;
    font-size: 22px;
    font-weight: bold;
}

.a {
    color: wheat;
    text-align: justify;
    font-size: 16px;
    font-weight: bold;
}

.a:hover {
    opacity: 0.6;
}

.to {
    color: wheat;
    text-decoration: underline;
}

.to:hover {
    opacity: 0.6;
}