@media screen and (min-width: 500px) and (max-width: 600px) {
    .main,
    .backtoup {
        zoom: 50%;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .main,
    .backtoup {
        zoom: 60%;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .main,
    .backtoup {
        zoom: 70%;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .main,
    .backtoup {
        zoom: 80%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1029px) {
    .main,
    .backtoup {
        zoom: 90%;
    }
}

@media screen and (min-width: 1029px) and (max-width: 1285px) {
    .main,
    .backtoup {
        zoom: normal;
    }
}

@media screen and (min-width: 1285px) and (max-width: 1680px) {
    .main,
    .backtoup {
        zoom: 115%;
    }
}

@media screen and (min-width: 1680px) and (max-width: 7685px) {
    .main,
    .backtoup {
        zoom: 125%;
    }
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 222, 179, 0.8);
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(78, 48, 103);
}

body {
    font-family: 'Comfortaa', cursive;
}

a {
    text-decoration: none;
    color: wheat;
}

a:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.main {
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;
    z-index: 1;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;

}

.content {
    width: 808px;
    margin-left: 20px;
}

.tit {
    font-size: 22px;
    color: wheat;
    font-weight: bold;
    padding-left: 10px;
}

.section_title {
    font-size: 18px;
    padding-left: 10px;
    color: wheat;
}

.more_specifically {
    text-indent: 8px;
    text-align: justify;
    color: whitesmoke;
    font-size: 16px;
}

.more_specifically img {
    width: 808px;
    border-radius: 8px;
}

.g{
    color: darkgrey;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.skip{
    margin-bottom: 10px;
}

.advert {
    opacity: 0;
    position: fixed;
    padding: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid whitesmoke;
    background-color: rgb(63, 38, 83);
    animation-name: adver;
    animation-duration: 512s;
    animation-iteration-count: 1;
    padding-left: 30px;
    width: 5px;
    height: 5px;
    overflow: hidden;
    z-index: 2;
}

@keyframes adver {
    0% {
        opacity: 0;
        width: 5px;
        height: 5px;
        overflow: hidden;
    }

    65% {
        opacity: 0;
        width: 5px;
        height: 5px;
        overflow: hidden;
    }

    66% {
        opacity: 1;
        width: 100%;
        height: min-content;
        overflow: visible;
    }

    99% {
        opacity: 1;
        width: 100%;
        height: min-content;
        overflow: visible;
    }

    100% {
        opacity: 0;
        width: 5px;
        height: 5px;
        overflow: hidden;
    }
}

.ad {
    font-size: 18px;
    color: wheat;
    font-weight: bold;
}

.adv {
    font-size: 16px;
    font-weight: 800;
    color: whitesmoke;
}

.vert {
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
}

.text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#toggle:checked~.text {
    max-height: min-content;
}

#toggle:checked~.what {
    opacity: 0.6;
}

label:hover {
    opacity: 0.6;
}

.what {
    font-size: 16px;
    color: wheat;
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
}

.text {
    text-indent: 6px;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    padding-left: 2px;
    padding-right: 5px;
    display: flex;
    width: 650px;
}

.text ul {
    padding-left: 15px;
    text-align: left;
    margin-left: 0px;
    font-weight: bold;
    line-height: 175%;
}

.text a {
    color: whitesmoke;
}

.line {
    margin-left: auto;
    margin-right: auto;
    width: 3px;
    border-radius: 5px;
    background-color: whitesmoke;
    height: 100px;
}

.smal {
    font-size: 16px;
}

.horyline {
    background-color: wheat;
    min-width: 780px;
    margin-left: 5px;
    margin-right: 5px;
    height: 3px;
    border-radius: 3px;
}

.backtoup {
    position: fixed;
    bottom: 20px;
    right: 15px;
    border-radius: 50px;
    height: 60px;
    width: 60px;
}

.backtoup img {
    rotate: 270deg;
}

.backtoup:hover,
.backtoup a:hover {
    opacity: 0.7;
}

/* Випадаючі меню завантажень */ 

.flexd {
    display: flex;
}

.texttwo,
.textthree {
    max-height: 0;
    display: flex;
    overflow: hidden;
    text-indent: 6px;
    zoom: 75%;
}

#toggletwo:checked~.texttwo,
#togglethree:checked~.textthree {
    max-height: min-content;
    margin-top: -15px;
}

#toggletwo:checked~.labetwo,
#togglethree:checked~.labethree {
    position: absolute;
    bottom: -10px;
    left: 10px;
    color: wheat;
    font-weight: bold;
    height: min-content;
    overflow: visible;
}

#toggletwo:checked~.labetwo span,
#togglethree:checked~.labethree span {
    display: none;
}

.hidetexttwo,
.hidetextthree {
    opacity: 0;
    display: none;
    font-style: italic;
}

#toggletwo:checked~.labetwo .hidetexttwo,
#togglethree:checked~.labethree .hidetextthree {
    opacity: 1 !important;
    display: block !important;
}

#toggletwo:checked~.labetwo:hover,
#togglethree:checked~.labethree:hover {
    border-bottom: none;
    opacity: 0.6;
}

.labetwo:hover,
.labethree:hover {
    border-bottom: 1.5px solid whitesmoke;
}

.labetwo,
.labethree {
    font-size: 16px;
    color: whitesmoke;
    margin-left: 8px;
    text-decoration: none;
    cursor: pointer;
}

.stick {
    width: 2px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
}

.texttwo div p,
.textthree div p {
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom: 2px solid whitesmoke;
    margin-left: -40px;
    width: 230px;
}

.rel {
    position: relative;
    width: 400px;
}