@media screen and (max-width: 1110px) {

    /* 1 */
    .frame {
        zoom: 80%;
    }
}

@media screen and (max-width: 935px) {

    /* 2 */
    .frame {
        zoom: 70%;
    }
}

@media screen and (max-width: 860px) {

    /* 3 */
    .frame {
        zoom: 60%;
    }
}

@media screen and (max-width: 650px) {

    /* 4 */
    .frame {
        zoom: 50%;
    }
}

@media screen and (max-width: 550px) {

    /* 5 */
    .frame {
        zoom: 42%;
    }
}

@media screen and (max-width: 450px) {

    /* 6 */
    .frame {
        zoom: 35%;
    }
}

body {
    font-family: 'Comfortaa', cursive;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    opacity: 0.6;
}

li {
    color: whitesmoke;
    text-align: justify;
}

.nt {
    margin-left: 15px;
    margin-right: 15px;
}

.frame {
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;
    height: min-content;
    min-height: 700px;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;

}

.main {
    width: 802px;
    margin-left: 20px;
}

.page_title {
    font-size: 25px;
    padding-left: 10px;
    padding: 5px;
    color: wheat;
    font-weight: bolder;
}

.section_title {
    font-size: 16px;
    padding-left: 10px;
    padding: 5px;
    color: wheat;
}

.more_specifically {
    text-indent: 8px;
}

.important {
    color: red;
}

.a {
    color: whitesmoke;
    font-size: 23px;
    text-decoration: none;
    font-weight: bold;
    margin-left: -16px;
    width: 100px;
}

.a:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.li {
    margin-bottom: 20px;
    font-size: 25px;
}

.the {
    margin-top: -25px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bold;
}

.text,
.options { /* Плавне розгортання */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    
}

#toggle:checked~.text,
#download:checked~.options { 
    max-height: min-content;
    
}

#toggle:checked~.what {
    opacity: 0.6;

}

#download:checked~.load {
    text-decoration: none;
    opacity: 0.6;
}

label:hover {
    opacity: 0.6;
}

.load {
    cursor: pointer;
    text-decoration: underline;
    color: wheat;
    margin-bottom: 0;
    padding-bottom: 0;
}

.what {
    font-size: 16px;
    color: wheat;
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
}

.text,
.options {
    text-indent: 6px;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.f {
    display: flex;
    margin-top: -15px;
}

.options li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid grey;
    margin-left: -40px;
    width: 200px;
}

.options a {
    text-decoration: none !important;
}

.stick {
    width: 2px;
    margin-top: 20px;
    height: 70px;
    background-color: grey;
    margin-left: 10px;
    margin-right: 10px;
}

.info {
    line-height: 0.8;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 800;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.info a {
    text-decoration: underline;
}

.imp {
    color: red;
    padding-top: 2px;
    line-height: 60%;
    font-weight: bold;
}

.bottom {
    margin-bottom: 18px;
}

.quote {
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(245, 245, 245, 0.7);
    border-left: 5px solid wheat;
    border-radius: 5px;
    height: max-content;
}

.margn {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 18px;
    padding-left: 12px;
    font-weight: bolder;
    font-style: italic;
    text-align: justify;
    line-height: 120%;
}

.links {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex {
    display: flex;
    padding: 10px;
}

.foto {
    height: 256px !important;
    width: 256px !important;
    text-decoration: none;
    text-align: center;
    margin: auto;
    color: wheat;
    font-weight: bolder;
    font-size: 18px;
}