@media screen and (min-width: 1280px) {
    .main {
        zoom: 120%;
    }
}

@media screen and (max-width: 1110px) {
    .main {
        zoom: 80%;
    }
}

@media screen and (max-width: 935px) {
    .main {
        zoom: 70%;
    }
}

@media screen and (max-width: 860px) {
    .main {
        zoom: 60%;
    }
}

@media screen and (max-width: 650px) {
    .main {
        zoom: 50%;
    }
}

@media screen and (max-width: 550px) {
    .main {
        zoom: 42%;
    }
}

@media screen and (max-width: 450px) {
    .main {
        zoom: 35%;
    }
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 222, 179, 0.8);
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(78, 48, 103);
}

body {
    font-family: 'Comfortaa', cursive;
}

.main {
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;
}

a {
    text-decoration: none;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;
    opacity: 0.6;
}

.section_title {
    font-size: 22px;
    margin-left: 18px;
    color: wheat;
}

.specificalities {
    text-indent: 8px;
    color: whitesmoke;
    text-align: justify;
    margin-left: 20px;
    margin-right: 15px;
    width: 680px;
}

.flex {
    display: flex;
    width: 680px;
}

.flex img {
    margin-left: auto;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: -5px;
}

.flex ul {
    color: whitesmoke;
    font-size: 16px;
    line-height: 1.5;
}

.flex li span {
    font-weight: bold;
}

.flex li p {
    color: whitesmoke;
    font-size: 14px;
    margin-left: 5px;
    line-height: 0.3;
}

.specifica {
    text-indent: 8px;
    color: whitesmoke;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.small_section_title {
    font-size: 16px;
    margin-left: 25px;
    margin-top: -5px;
    margin-bottom: -10px;
    padding: 5px;
    color: wheat;
    font-weight: 800;
}

.horyline {
    background-color: wheat;
    min-width: 780px;
    margin-left: 20px;
    margin-right: 20px;
    height: 3px;
    border-radius: 3px;
    margin-top: 10px;
}

.fireflies_box {
    position: absolute;
    bottom: 0px;
    left: 50px;
    height: 400px;
    width: 250px;
    overflow: hidden;
    border: 1px black solid;
}

.first_f {
    height: 7px;
    width: 7px;
    border-radius: 7px;
    position: absolute;
    bottom: -20px;
    left: 40px;
    background-color: wheat;
    animation-name: moving;
	animation-duration: 3s;
	animation-direction: normal;
    animation-delay: 6c;
	animation-iteration-count: infinite;
}

@keyframes moving {
    1% {
        bottom: -20px;
        left: 40px;
        box-shadow: rgb(245, 222, 179, 1) 2px 0 10px;
        opacity: 1;
    }

    12% {
        bottom: 20px;
        left: 40px;
    }

    15% {
        bottom: 20px;
        left: 30px;
    }

    18% {
        bottom: 30px;
        left: 30px;
    }

    21% {
        bottom: 30px;
        left: 20px;
    }

    24% {
        bottom: 40px;
        left: 30px;
    }

    27% {
        bottom: 40px;
        left: 20px;
    }

    30% {
        bottom: 50px;
        left: 20px;
    }

    33% {
        bottom: 50px;
        left: 10px;
    }

    42% {
        bottom: 80px;
        left: 20px;
        box-shadow: rgba(245, 222, 179, 0.3) 1px 0 10px;
        opacity: 0.4;
    }

    45% {
        bottom: 80px;
        left: 30px;
    }

    51% {
        bottom: 100px;
        left: 30px;
    }

    54% {
        bottom: 100px;
        left: 40px;
    }

    57% {
        bottom: 110px;
        left: 40px;
    }

    60% {
        bottom: 110px;
        left: 50px;
        box-shadow: rgb(245, 222, 179, 1) 2px 0 10px;
        opacity: 1;
    }

    72% {
        bottom: 150px;
        left: 50px;
    }

    75% {
        bottom: 150px;
        left: 40px;
    }

    78% {
        bottom: 160px;
        left: 40px;
    }

    81% {
        bottom: 160px;
        left: 30px;
    }

    87% {
        bottom: 180px;
        left: 30px;
    }

    90% {
        bottom: 180px;
        left: 40px;
    }

    93% {
        bottom: 190px;
        left: 40px;
    }

    96% {
        bottom: 190px;
        left: 50px;
    }

    100% {
        bottom: 207px;
        left: 50px;
        box-shadow: rgba(245, 222, 179, 0) 1px 0 10px;
        opacity: 0;
    }
}