@media screen and (max-width: 1110px) {
    .main {
        zoom: 80%;
    }
}

@media screen and (max-width: 935px) {
    .main {
        zoom: 70%;
    }
}

@media screen and (max-width: 860px) {
    .main {
        zoom: 60%;
    }
}

@media screen and (max-width: 650px) {
    .main {
        zoom: 50%;
    }
}

@media screen and (max-width: 550px) {
    .main {
        zoom: 42%;
    }
}

@media screen and (max-width: 450px) {
    .main {
        zoom: 35%;
    }
}

.main {
    border: 3px solid whitesmoke;
    border-radius: 10px;
    margin: auto;
    width: 852px !important;
    height: max-content;
    backdrop-filter: blur(4px);
    position: relative;
    min-height: 500px;
}