@media screen and (min-width: 1280px) {
    .main {
        zoom: 120%;
    }
}

@media screen and (max-width: 1110px) {
    .main {
        zoom: 80%;
    }
}

@media screen and (max-width: 935px) {
    .main {
        zoom: 70%;
    }
}

@media screen and (max-width: 860px) {
    .main {
        zoom: 60%;
    }
}

@media screen and (max-width: 650px) {
    .main {
        zoom: 50%;
    }
}

@media screen and (max-width: 550px) {
    .main {
        zoom: 42%;
    }
}

@media screen and (max-width: 450px) {
    .main {
        zoom: 35%;
    }
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 222, 179, 0.8);
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(78, 48, 103);
}

body {
    font-family: 'Comfortaa', cursive;
}

.main {
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;
}

a {
    text-decoration: none;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;
    opacity: 0.6;
}

.section_title {
    font-size: 22px;
    margin-left: 18px;
    color: wheat;
}

.specificalities {
    text-indent: 8px;
    color: whitesmoke;
    text-align: justify;
    margin-left: 20px;
    margin-right: 15px;
    width: 680px;
}

.flex {
    display: flex;
    width: 680px;
}

.flex img {
    margin-left: auto;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: -5px;
}

.flex ul {
    color: whitesmoke;
    font-size: 16px;
    line-height: 1.5;
}

.flex li span {
    font-weight: bold;
}

.flex li p {
    color: whitesmoke;
    font-size: 14px;
    margin-left: 5px;
    line-height: 0.3;
}

.specifica {
    text-indent: 8px;
    color: whitesmoke;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.small_section_title {
    font-size: 16px;
    margin-left: 25px;
    margin-top: -5px;
    margin-bottom: -10px;
    padding: 5px;
    color: wheat;
    font-weight: 800;
}

.horyline {
    background-color: wheat;
    min-width: 780px;
    margin-left: 20px;
    margin-right: 20px;
    height: 3px;
    border-radius: 3px;
    margin-top: 10px;
}

.fireflies_box {
    position: absolute;
    bottom: 0px;
    left: 25px;
    height: 400px;
    width: 250px;
    overflow: hidden;
}

.first_f {
    height: 7px;
    width: 7px;
    border-radius: 7px;
    position: absolute;
    bottom: -20px;
    left: 40px;
    background-color: wheat;
    animation-name: moving;
	animation-duration: 3s;
	animation-direction: normal;
    animation-delay: 6c;
	animation-iteration-count: infinite;
}

@keyframes moving {
    1% {
        bottom: -20px;
        left: 40px;
    }

    12% { /* 0 */
        bottom: 20px;
        left: 40px;
    }

    14% {
        bottom: 25px;
        left: 38.5px;
    }

    16% {
        bottom: 28.5px;
        left: 35px;       
    }

    18% { /* 1 */
        bottom: 30px;
        left: 30px;
    }

    20% {
        bottom: 31.5px;
        left: 25px;
    }

    22% {
        bottom: 35px;
        left: 21.5px;
    }

    24% { /* 2 */
        bottom: 40px;
        left: 20px;
    }

    26% {
        bottom: 45px;
        left: 18.5px;
    }

    28% {
        bottom: 48.5px;
        left: 15px;
    }

    30% { /* 3 */
        bottom: 50px;
        left: 10px;
    }

    36% { /* 4 */
        bottom: 70px;
        left: 10px;
        box-shadow: rgba(245, 222, 179, 0.3) 1px 0 10px;
        opacity: 0.4;
    }

    38% {
        bottom: 75px;
        left: 11.5px;
    }

    40% {
        bottom: 78.5px;
        left: 15px;
    }

    42% { /* 5 */
        bottom: 80px;
        left: 20px;
    }

    48% { /* 6 */
        bottom: 100px;
        left: 20px;
    }

    50% {
        bottom: 105px;
        left: 21.5px;
    }

    52% {
        bottom: 108.5px;
        left: 25px;
    }

    54% { /* 7 */
        bottom: 110px;
        left: 30px;
    }

    56% {
        bottom: 111.5px;
        left: 35px;
    }

    58% {
        bottom: 115px;
        left: 38.5px;
    }

    60% {
        bottom: 120px;
        left: 40px;
    }

    66% { /* 8 */
        bottom: 140px;
        left: 40px;
        box-shadow: rgb(245, 222, 179, 1) 2px 0 10px;
        opacity: 1;
    }

    72% { /* 9 */
        bottom: 145px;
        left: 38.5px;
    }

    74% {
        bottom: 148.5px;
        left: 35px;
    }

    76% {
        bottom: 150px;
        left: 30px;
    }

    78% { /* 10*/
        bottom: 151.5px;
        left: 25px;
    }

    80% {
        border-bottom: 155px;
        left: 21.5px;
    }

    82% {
        bottom: 160px;
        left: 20px;
    }

    84% { /* 11 */
        bottom: 170px;
        left: 20px;
    }

    86% { /* 12 */
        bottom: 175px;
        left: 21.5px;
    }

    88% {
        bottom: 178.5px;
        left: 25px;
    }

    90% {
        bottom: 180px;
        left: 30px;
    }

    92% { /* 13 */
        bottom: 181.5px;
        left: 35px;
    }

    94% {
        bottom: 185px;
        left: 38.5px;
    }

    96% {
        bottom: 190px;
        left: 40px;
    }

    100% { /* 14 */
        bottom: 210px;
        left: 40px;
        box-shadow: rgba(245, 222, 179, 0) 1px 0 10px;
        opacity: 0.2;
    }
}