@media screen and (max-width: 1110px) {

    /* 1 */
    .main {
        zoom: 80%;
    }
}

@media screen and (max-width: 935px) {

    /* 2 */
    .main {
        zoom: 70%;
    }
}

@media screen and (max-width: 860px) {

    /* 3 */
    .main {
        zoom: 60%;
    }
}

@media screen and (max-width: 650px) {

    /* 4 */
    .main {
        zoom: 50%;
    }
}

@media screen and (max-width: 550px) {

    /* 5 */
    .main {
        zoom: 42%;
    }
}

@media screen and (max-width: 450px) {

    /* 6 */
    .main {
        zoom: 35%;
    }
}

body {
    padding: 1rem;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: black;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 40px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color: whitesmoke;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

body {
    font-family: "system-ui";
    line-height: 1, 4;
    padding: 1rem;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
}

a {
    text-decoration: none;
    color: wheat;
}

a:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.frame {
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;

}

.main {
    width: 808px;
    margin-left: 20px;
}

.tit {
    font-size: 22px;
    color: wheat;
    padding-left: 10px;
}

.section_title {
    font-size: 18px;
    padding-left: 10px;
    color: wheat;
}

.more_specifically {
    text-indent: 8px;
    text-align: justify;
    color: whitesmoke;
    font-size: 16px;
}

.more_specifically img {
    width: 808px;
    border-radius: 8px;
}

.g{
    color: darkgrey;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.skip{
    margin-bottom: 10px;
}

.border {
    margin-top: 20px;
    border: 1px solid wheat;
    border-radius: 8px;
    padding: 10px;
    width: 665px;
}

.map {
    color: wheat;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 2px;
}

.flex {
    display: flex;
}

.flex li {
    color: whitesmoke;
}

.flex a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 11px;
    font-weight: 500;
    margin-left: -10px;
}

.flex div {
    margin-right: 12px;
}

.advert {
    opacity: 0;
    position: absolute;
    padding: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid whitesmoke;
    background-color: rgb(63, 38, 83);
    animation-name: adver;
    animation-duration: 256s;
    animation-iteration-count: 1;
    z-index: 101;
}

@keyframes adver {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ad {
    font-size: 18px;
    color: wheat;
    font-weight: bold;
}

.adv {
    font-size: 16px;
    font-weight: 800;
    color: whitesmoke;
}

.vert {
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
}