body {
    padding: 1rem;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: whitesmoke;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: whitesmoke;
    border-radius: 40px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color: black;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

body {
    font-family: "system-ui";
    line-height: 1, 4;
    padding: 1rem;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
}

.main {
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;

}

.one {
    border-radius: 10px;
    width: 675px;
    height: 380px;
}

#slider {
    /*положение слайдера*/
    position: relative;
    margin-top: 3px;
    margin-left: 3px;
}

#slides article {
    /*все изображения справа друг от доруга*/
    float: left;
}

#slides .image {
    /*устанавливает общий размер блока с изображениями*/
    width: 700%;
    line-height: 0;

}

#overflow {
    /*сркывает все, что находится за пределами этого блока*/
    overflow: hidden;
    width: 100%;
}

article img {
    /*размер изображений слайдера*/
    width: 100%;
}

#desktop:checked~#slider {
    /*размер всего слайдера*/
    width: 675px !important; /*Длинна*/
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked~#controls label:nth-child(2),
#switch2:checked~#controls label:nth-child(3),
#switch3:checked~#controls label:nth-child(4),
#switch4:checked~#controls label:nth-child(5),
#switch5:checked~#controls label:nth-child(6),
#switch6:checked~#controls label:nth-child(7),
#switch7:checked~#controls label:nth-child(1) {
    background: url('img/next.png') no-repeat;
    /*заливка фона картинкой без повторений*/
    background-size: 60px 60px;
    float: right;
    margin: -5px -70px 0 0;
    /*сдвиг вправо*/
    display: block;
    height: 60px;
    width: 60px;
}

label, a {
    /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}

.all input {
    /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked~#slides .image {
    margin-left: 0;
}

#switch2:checked~#slides .image {
    margin-left: -100%;
}

#switch3:checked~#slides .image {
    margin-left: -200%;
}

#switch4:checked~#slides .image {
    margin-left: -300%;
}

#switch5:checked~#slides .image {
    margin-left: -400%;
}

#switch6:checked~#slides .image {
    margin-left: -500%;
}

#switch7:checked~#slides .image {
    margin-left: -600%;
}

#controls {
    /*положение блока всех управляющих элементов*/
    margin: -27% 0 0 0;
    width: 100%;
    height: 60px;
}

#active label {
    /*стиль отдельного переключателя*/
    border-radius: 7px;
    /*скругление углов*/
    display: inline-block;
    /*расположение в строку*/
    width: 13px;
    height: 13px;
    background: #bbb;
}

#active {
    /*расположение блока с переключателями*/
    margin: 15% 0 0;
    text-align: center;
}

#active label:hover {
    /*поведение чекбокса при наведении*/
    background: #76c8ff;
    border-color: #777 !important;
    /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3),
#switch4:checked~#active label:nth-child(4),
#switch5:checked~#active label:nth-child(5),
#switch6:checked~#active label:nth-child(6),
#switch7:checked~#active label:nth-child(7) {
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image {
    /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover {
    /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label {
    /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    padding-top: 5px;
    margin-left: 80px;
    padding: 2px;
    border-radius: 3px;
}

.back:hover {
    outline: 2px solid wheat;
    opacity: 0.6;
}

.back a {
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.section_title {
    font-size: 22px;
    margin-left: 15px;
    color: wheat;
}

.specificalities {
    text-indent: 8px;
    color: whitesmoke;
    text-align: justify;
    margin-left: 20px;
    margin-right: 15px;
}

.line {
    margin-left: 15px;
    background-color: whitesmoke;
    padding: 1.5px;
    width: 816px;
    border-radius: 3px;
}

.ul {
    color: whitesmoke;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.5;
}

.litematica {
    color: whitesmoke;
    text-decoration: underline;
}

.ul a:hover {
    opacity: 0.6;
}