@media screen and (max-width: 767px) {
    .main {
        zoom: 35%;
    }
}

body {
    padding: 1rem;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: black;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 40px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color: whitesmoke;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

body {
    font-family: "system-ui";
    line-height: 1, 4;
    padding: 1rem;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
}

a {
    text-decoration: none;
    color: wheat;
}

a:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.frame {
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    padding-top: 5px;
    margin-left: 80px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;

}

.main {
    width: 808px;
    margin-left: 20px;
}

.tit {
    font-size: 22px;
    color: wheat;
    padding-left: 10px;
}

.section_title {
    font-size: 18px;
    padding-left: 10px;
    color: wheat;
}

.more_specifically {
    text-indent: 8px;
    text-align: justify;
    color: whitesmoke;
    font-size: 16px;
}

.more_specifically img {
    width: 808px;
    border-radius: 8px;
}

.g{
    color: darkgrey;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.skip{
    margin-bottom: 10px;
}

.border {
    margin-top: 20px;
    border: 1px solid wheat;
    border-radius: 8px;
    padding: 10px;
    width: 665px;
}

.map {
    color: wheat;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 2px;
}

.flex {
    display: flex;
}

.flex li {
    color: whitesmoke;
}

.flex a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 11px;
    font-weight: 500;
    margin-left: -10px;
}

.flex div {
    margin-right: 12px;
}