@media screen and (max-width: 1110px) {
    .frame,
    .advert {
        zoom: 80%;
    }
}

@media screen and (max-width: 935px) {
    .frame,
    .advert {
        zoom: 70%;
    }
}

@media screen and (max-width: 860px) {
    .frame,
    .advert {
        zoom: 60%;
    }
}

@media screen and (max-width: 650px) {
    .frame,
    .advert {
        zoom: 50%;
    }
}

@media screen and (max-width: 550px) {
    .frame,
    .advert {
        zoom: 42%;
    }
}

@media screen and (max-width: 450px) {
    .frame,
    .advert {
        zoom: 35%;
    }
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 222, 179, 0.8);
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(78, 48, 103);
}

body {
    font-family: 'Comfortaa', cursive;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    opacity: 0.6;
}

.frame {
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;

}

.main {
    width: 852px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

.liine {
    background-color: black;
    width: 1px;
    min-height: 95%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 12px;
    margin-right: 12px;
    opacity: 0.4;
    border-radius: 1px;
}

.flex {
    display: flex;
}

.img {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-right: 5px;
}

.door{
    width: 15px;
    height: 30px;
    margin-top: 7px;
    margin-right: 12.5px;
    margin-left: 7.5px;
}

.ab {
    color: whitesmoke;
    font-weight: 300;
    line-height: 0.2;
    font-size: 14px;
    width: 220px;
    height: 43px;
}

.id {
    color: wheat;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    font-size: 11px;
    width: 220px;
    text-align-last: justify;
}

.line {
    height: 1px;
    background-color: black;
    width: 255px;
    margin-top: -2px;
    margin-bottom: -2px;
    opacity: 0.4;
    border-radius: 1px;
}

.div {
    width: 255px;
}

.sid {
    color: wheat;
    font-size: 9px;
    margin-top: 2px;
    padding-bottom: 2.5px;
    width: 220px;
    text-align-last: justify;
}

.il {
    color: wheat;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    font-size: 11px;
}

.mline {
    margin-top: 160px;
}

.sab {
    color: whitesmoke;
    font-weight: 300;
    line-height: 0.2;
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
}

.wab {
    color: whitesmoke;
    font-weight: 300;
    line-height: 0.2;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.absolute {
    position: absolute;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    color: wheat;
    top: 17px;
    right: 153px;
    line-height: 135%;
}

.advert {
    opacity: 0;
    position: fixed;
    padding: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid whitesmoke;
    background-color: rgb(63, 38, 83);
    animation-name: adver;
    animation-duration: 512s;
    animation-iteration-count: 1;
    padding-left: 30px;
    width: 5px;
    height: 5px;
    overflow: hidden;
}

@keyframes adver {
    0% {
        opacity: 0;
        width: 5px;
        height: 5px;
        overflow: hidden;
    }

    65% {
        opacity: 0;
        width: 5px;
        height: 5px;
        overflow: hidden;
    }

    66% {
        opacity: 1;
        width: 100%;
        height: min-content;
        overflow: visible;
    }

    99% {
        opacity: 1;
        width: 100%;
        height: min-content;
        overflow: visible;
    }

    100% {
        opacity: 0;
        width: 5px;
        height: 5px;
        overflow: hidden;
    }
}

.ad {
    font-size: 18px;
    color: wheat;
    font-weight: bold;
}

.adv {
    font-size: 16px;
    font-weight: 800;
    color: whitesmoke;
}

.vert {
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
}