body{
	font-family: 'Comfortaa', cursive;
	padding-top: 15px;
}

.main{
	border: 3px solid whitesmoke;
	border-radius: 10px;
	margin: auto;
	width: 852px !important;
	height: 580px !important;
	backdrop-filter: blur(4px);
	position: relative;
}

.one{
	border-radius: 12px;
}

#slider { /*положение слайдера*/
	position: relative;
	margin-top: 3px;
	margin-left: 3px;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	width: 615px !important; /*Длинна*/
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked~#controls label:nth-child(2),
#switch2:checked~#controls label:nth-child(3),
#switch3:checked~#controls label:nth-child(4),
#switch4:checked~#controls label:nth-child(5),
#switch5:checked~#controls label:nth-child(1){
	background: url('img/next.png') no-repeat;	/*заливка фона картинкой без повторений*/
	background-size: 43px 43px;
	float: right;
	margin: 0 -54px 0 0;	/*сдвиг вправо*/
	display: block;
	height: 43px;
	width: 43px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 40px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 7px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 10px;
	height: 10px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 15% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

.about{
	border: 3px solid wheat;
	border-radius: 8px;
	padding: 8px !important;
	margin-top: 23px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 768px !important;
	height: 142px !important;
}

.at{
	margin-top: -12px;
	text-indent: 8px;
	font-size: 16px;
	color: wheat;
	text-align: justify;
}

.ps{
	font-size: 16px;
	text-align: center;
	color: navy;
}

.works{
	font-size: 21px;
	color: wheat;
	margin-left: 27px;
}

.flex{
	display: flex;
	margin-top: -10px;
}

li{
	color: whitesmoke;
	margin-left: 32px;
}

.a{
	margin-left: -16px;
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
}

a:hover{
	opacity: 0.6;
	text-decoration: underline;
}

.sidebar {
	width: 138px !important;
	position: absolute;
	top: 3px;
	right: 3px;
}

.logo {
	background-color: black;
	padding: 4px;
	border-radius: 8px;
	margin-bottom: 5px;
}

.uf {
	margin-left: 75px;
	border-radius: 3px;
	padding: 2px;
}

.uf:hover {
	outline: 2px solid wheat;
	opacity: 0.6;
}

.uf a {
	color: wheat;
	font-size: 13px;
	text-decoration: none;
}	