@media screen and (min-width: 500px) and (max-width: 600px) {
    .main,
    .fireflies_box {
        zoom: 50%;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .main,
    .fireflies_box {
        zoom: 60%;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .main,
    .fireflies_box {
        zoom: 70%;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .main,
    .fireflies_box {
        zoom: 80%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1029px) {
    .main,
    .fireflies_box {
        zoom: 90%;
    }
}

@media screen and (min-width: 1029px) and (max-width: 1285px) {
    .main,
    .fireflies_box {
        zoom: normal;
    }
}

@media screen and (min-width: 1285px) and (max-width: 1680px) {
    .main,
    .fireflies_box {
        zoom: 115%;
    }
}

@media screen and (min-width: 1680px) and (max-width: 7685px) {
    .main,
    .fireflies_box {
        zoom: 125%;
    }
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 222, 179, 0.8);
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(78, 48, 103);
}

body {
    font-family: 'Comfortaa', cursive;
}

a:hover {
    opacity: 0.6;
}

.main {
    display: block;
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;
    height: min-content;
    min-height: 700px;
    animation-name: shining;
	animation-duration: 4s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
    z-index: 1;
}

@keyframes shining {
    0% {
        box-shadow: rgb(245, 222, 179, 1) 2px 0 10px;
    }

    100% {
        box-shadow: rgba(245, 222, 179, 0) 1px 0 10px;
    }
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;

}

.content {
    width: 802px;
    margin-left: 20px;
}

.page_title {
    font-size: 25px;
    padding-left: 10px;
    padding: 5px;
    color: wheat;
    font-weight: bolder;
}

.section_title {
    font-size: 16px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 25px !important;
    padding: 5px;
    color: wheat;
    font-weight: 750;
}

.small_section_title {
    font-size: 16px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: -5px;
    margin-bottom: -10px;
    padding: 5px;
    color: wheat;
    font-weight: 500;
}

.just_text {
    font-size: 16px;
    padding-left: 10px;
    padding: 5px;
    color: whitesmoke;
    text-align: justify;
    text-indent: 5px;
}

.advert {
    opacity: 0;
    position: fixed;
    padding: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid whitesmoke;
    background-color: rgb(63, 38, 83);
    animation-name: adver;
    animation-duration: 512s;
    animation-iteration-count: 1;
    padding-left: 30px;
    width: 5px;
    height: 5px;
    overflow: hidden;
    z-index: 2;
}

@keyframes adver {
    0% {
        opacity: 0;
        width: 5px;
        height: 5px;
        overflow: hidden;
    }

    65% {
        opacity: 0;
        width: 5px;
        height: 5px;
        overflow: hidden;
    }

    66% {
        opacity: 1;
        width: 100%;
        height: min-content;
        overflow: visible;
    }

    99% {
        opacity: 1;
        width: 100%;
        height: min-content;
        overflow: visible;
    }

    100% {
        opacity: 0;
        width: 5px;
        height: 5px;
        overflow: hidden;
    }
}

.ad {
    font-size: 18px;
    color: wheat;
    font-weight: bold;
}

.adv {
    font-size: 16px;
    font-weight: 800;
    color: whitesmoke;
}

.vert {
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
}

.list {
    display: flex;
}

.the {
    margin-top: -25px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: -5px;
}

.info {
    line-height: 0.8;
    color: whitesmoke;
    font-size: 16px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.info a {
    text-decoration: none;
    color: whitesmoke;
}

.list div {
    margin: 10px;
    margin-top: -10px;
}

.list p {
    color: wheat;
    font-weight: bold;
    font-size: 18px;
}

.list ul,
.list li,
.list a {
    color: whitesmoke;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-decoration: none;
}

#list a {
    opacity: 0.6;
}

@media screen and (max-width: 1615px) {
    .notice {
        opacity: 0 !important;
        width: 1px !important;
        height: 1px !important;
        overflow: hidden !important;
    }
}

.notice {
    position: fixed;
    top: 10px;
    left: 10px;
    width: fit-content;
    height: fit-content;
    max-width: 250px;
    color: wheat;
    text-align: justify;
    font-weight: 500;
    border: 3px wheat solid;
    border-radius: 10px;
    padding: 10px;
}

.ready {
    opacity: 1 !important;
}

.ready:hover {
    opacity: 0.6 !important;
}

.fireflies_box {
    position: fixed;
    bottom: -20px;
    left: 25px;
    height: 250px;
    width: 125px;
    overflow: hidden;
}

.fireflies_box {
    animation-name: hide;
    animation-iteration-count: 1;
    animation-duration: 512s;
    opacity: 1;
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    64% {
        opacity: 1;
    }

    65% {
        opacity: 0 !important;
    }

    99% {
        opacity: 0 !important;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .fireflies_box {
        bottom: 0px !important;
        left: 0px !important;
        width: 1px !important;
        height: 1px !important;
    }
}

.first_f {
    height: 7px;
    width: 7px;
    border-radius: 7px;
    position: absolute;
    bottom: -30px;
    margin-left: 15px;
    background-color: wheat;
    animation-name: moving;
    animation-duration: 6s;
    animation-direction: normal;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    zoom: 90%;
}

.second_f {
    height: 7px;
    width: 7px;
    border-radius: 7px;
    position: absolute;
    bottom: -30px;
    margin-left: 75px;
    background-color: wheat;
    animation-name: moving;
    animation-duration: 6s;
    animation-direction: normal;
    animation-delay: 6.25s;
    animation-iteration-count: infinite;
    zoom: 75%;
    transform: scaleX(-1);
}

.third_f {
    height: 7px;
    width: 7px;
    border-radius: 7px;
    position: absolute;
    bottom: -30px;
    margin-left: 15px;
    background-color: wheat;
    animation-name: moving;
    animation-duration: 6s;
    animation-direction: normal;
    animation-delay: 6.4s;
    animation-iteration-count: infinite;
    zoom: 50%;
    transform: scaleX(-1);
}

.fourth_f {
    height: 7px;
    width: 7px;
    border-radius: 7px;
    position: absolute;
    bottom: -30px;
    margin-left: 25px;
    background-color: wheat;
    animation-name: moving;
    animation-duration: 6s;
    animation-direction: normal;
    animation-delay: 6.6s;
    animation-iteration-count: infinite;
    zoom: 80%;
}

.fifth_f {
    height: 7px;
    width: 7px;
    border-radius: 7px;
    position: absolute;
    bottom: -30px;
    margin-left: 65px;
    background-color: wheat;
    animation-name: moving;
    animation-duration: 6s;
    animation-direction: normal;
    animation-delay: 7s;
    animation-iteration-count: infinite;
    zoom: 75%;
    transform: scaleX(-1);
}

.sixth_f {
    height: 7px;
    width: 7px;
    border-radius: 7px;
    position: absolute;
    bottom: -30px;
    margin-left: 25px;
    background-color: wheat;
    animation-name: moving;
    animation-duration: 6s;
    animation-direction: normal;
    animation-delay: 7.4s;
    animation-iteration-count: infinite;
    zoom: 60%;
    transform: scaleX(-1);
}

.seventh_f {
    height: 7px;
    width: 7px;
    border-radius: 7px;
    position: absolute;
    bottom: -30px;
    margin-left: 40px;
    background-color: wheat;
    animation-name: moving;
    animation-duration: 6s;
    animation-direction: normal;
    animation-delay: 7.5s;
    animation-iteration-count: infinite;
    zoom: 80%;
}

.eighth_f {
    height: 7px;
    width: 7px;
    border-radius: 7px;
    position: absolute;
    bottom: -30px;
    margin-left: 85px;
    background-color: wheat;
    animation-name: moving;
    animation-duration: 6s;
    animation-direction: normal;
    animation-delay: 7.8s;
    animation-iteration-count: infinite;
    zoom: 70%;
}

@keyframes moving {
    1% {
        bottom: -30px;
        left: 40px;
    }

    6% {
        /* 0 */
        bottom: 20px;
        left: 40px;
    }

    7% {
        bottom: 25px;
        left: 38.5px;
    }

    8% {
        bottom: 28.5px;
        left: 35px;
    }

    9% {
        /* 1 */
        bottom: 30px;
        left: 30px;
    }

    10% {
        bottom: 31.5px;
        left: 25px;
    }

    11% {
        bottom: 35px;
        left: 21.5px;
    }

    12% {
        /* 2 */
        bottom: 40px;
        left: 20px;
    }

    13% {
        bottom: 45px;
        left: 18.5px;
    }

    14% {
        bottom: 48.5px;
        left: 15px;
    }

    15% {
        /* 3 */
        bottom: 50px;
        left: 10px;
    }

    18% {
        /* 4 */
        bottom: 70px;
        left: 10px;
        box-shadow: rgba(245, 222, 179, 0.3) 1px 0 10px;
        opacity: 0.4;
    }

    19% {
        bottom: 75px;
        left: 11.5px;
    }

    20% {
        bottom: 78.5px;
        left: 15px;
    }

    21% {
        /* 5 */
        bottom: 80px;
        left: 20px;
    }

    24% {
        /* 6 */
        bottom: 100px;
        left: 20px;
    }

    25% {
        bottom: 105px;
        left: 21.5px;
    }

    26% {
        bottom: 108.5px;
        left: 25px;
    }

    27% {
        /* 7 */
        bottom: 110px;
        left: 30px;
    }

    28% {
        bottom: 111.5px;
        left: 35px;
    }

    29% {
        bottom: 115px;
        left: 38.5px;
    }

    30% {
        bottom: 120px;
        left: 40px;
    }

    33% {
        /* 8 */
        bottom: 140px;
        left: 40px;
        box-shadow: rgb(245, 222, 179, 1) 2px 0 10px;
        opacity: 1;
    }

    36% {
        /* 9 */
        bottom: 145px;
        left: 38.5px;
    }

    37% {
        bottom: 148.5px;
        left: 35px;
    }

    38% {
        bottom: 150px;
        left: 30px;
    }

    39% {
        /* 10 */
        bottom: 151.5px;
        left: 25px;
    }

    40% {
        bottom: 155px;
        left: 21.5px;
    }

    41% {
        bottom: 160px;
        left: 20px;
    }

    42% {
        /* 11 */
        bottom: 170px;
        left: 20px;
    }

    43% {
        /* 12 */
        bottom: 175px;
        left: 21.5px;
    }

    44% {
        bottom: 178.5px;
        left: 25px;
    }

    45% {
        bottom: 180px;
        left: 30px;
    }

    46% {
        /* 13 */
        bottom: 181.5px;
        left: 35px;
    }

    47% {
        bottom: 185px;
        left: 38.5px;
    }

    48% {
        bottom: 190px;
        left: 40px;
    }

    50% {
        /* 14 */
        bottom: 210px;
        left: 40px;
        box-shadow: rgba(245, 222, 179, 0) 1px 0 10px;
        opacity: 0;
    }

    50.1% {
        bottom: 210px;
        left: 40px;
        box-shadow: none;
        opacity: 0;
    }

    100% {
        bottom: 210px;
        left: 40px;
        box-shadow: none;
        opacity: 0;
    }
}

/*TTFblocks code start*/
#list ul {
    line-height: 150%;
    margin-top: 0px;
}

#list ul li {
    color: wheat;
    margin-left: -10px;
    font-size: 18px;
    font-weight: bolder;
    padding: 3px;
}

#list ul li label:hover {
    opacity: 0.6;
}

.texton,
.texttw,
.textth,
.textfo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#toggleon:checked~.texton,
#toggletw:checked~.texttw,
#toggleth:checked~.textth,
#togglefo:checked~.textfo {
    max-height: min-content;
    min-height: 250px;
}

#toggleon:checked~.whaton,
#toggletw:checked~.whattw,
#toggleth:checked~.whatth,
#togglefo:checked~.whatfo {
    opacity: 0.6;
}

.whaton,
.whattw,
.whatth,
.whatfo {
    font-size: 16px;
    color: wheat;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
/*TTFblocks code end*/

.il {
    position: relative;
    width: 250px;
}

.il img {
    position: absolute;
    right: 0px;
    height: 16px;
}

.text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#toggle:checked~.text {
    max-height: min-content;
}

#toggle:checked~.what {
    opacity: 0.6;
}

label:hover {
    opacity: 0.6;
}

.what {
    font-size: 16px;
    color: wheat;
    font-weight: 500;
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
}

.text {
    font-size: 14px;
    color: whitesmoke;
    margin-top: 10px;
}

.text li {
    margin-left: -20px;
    line-height: 1.5;
}
